*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}

.contain{
	width: 100%;
}
.main{
	width: 1200px;
	margin: 0 auto;
}
/*头部*/
.header{
	min-height: 120px;
	background: #fff;
	/*padding-bottom: 18px;*/
}
.logo{
	padding-top: 10px;
	display: inline-block;
	float: left;
}
.search{
	display: inline-block;
	float: left;
	width: 210px;
}
.cart{
	display: inline-block;
	float: left;
}
.login{
	display: inline-block;
	float: left;
}
.login>ul>li{
	float: left;
}
.nav{
	float: left;
}
.nav>ul>li{
	float: left;
}

.search_in{
	width: 210px;
	height: 30px;
	background: #eeeeee;
	border: 0;
	outline: none;
	font-size: 12px;
	color: #a9a9a9;
	padding-left: 5px;
	box-sizing: border-box;
	font-weight: bold;
}
.search_out{
	margin-top: 20px;
}
.search{
	margin-left: 360px;
}
.search_out>i{
	width: 18px;
	height: 18px;
	position: relative;
	left: 186px;
	bottom: 26px;
}
.cart{
	padding-top: 28px;
	padding-left: 11px;
}
.cart>i{
	font-size: 22px;
}
.cart>span{
	width: 18px;
	height: 18px;
	background: #b1544f;
	display: inline-block;
	border-radius: 50%;
	font-size: 7px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	position: relative;
	right: 8px;
	bottom: 11px;
}
.login{
	width: 70px;
	height: 30px;
	background: #b15351;
	margin-left: 140px;
	margin-top: -30px;
	padding-left: 15px;
	padding-right: 15px;
}
.login>ul>li>a{
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.login>ul>li:nth-child(1)>a{
	border-right: solid 1px #fff;
	padding-right: 10px;
}
.login>ul>li:nth-child(2)>a{
	padding-left: 10px;
}
.nav{
	margin-top: 12px;
	height: 14px;
	width: 100%;
}
.nav>ul>li{
	width: 108px;
	border-right: dashed 1px #676767;
	text-align: center;
	height: 14px;
}
.nav>ul>li:hover{
	font-weight: bold;
}
.nav>ul>li>a{
	color: #5a5542;
	font-size: 14px;
	font-family: "微软雅黑";
	
}
.nav>ul>li:last-child{
	border-right: 0;
}
/*中间表单*/
.signin{
	width: 100%;
	height: 452px;
	background: url(../img/22.jpg) no-repeat;
	background-size: cover;
}
.signin_box{
	width: 540px;
	height: 442px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	left: 650px;
	top: 5px;
}
.sign_form{
	padding-top: 20px;
}
.phone{
	margin-left: 60px;
	font-size: 12px;
	color: #5d5f5e;
	height: 50px;
}
.phone>#phone_num{;
	width: 176px;
	height: 25px;
	font-size: 7px;
	color: #000;
	border: solid 1px #d9d9d9;
	padding-left: 6px;
}
.phone>.tips1{
	margin-left: 22px;
	font-size: 12px;
	color: #ff0000;
	display: none;
}
.pic_code{
	margin-left: 60px;
	font-size: 12px;
	color: #5d5f5e;
	
}
.pic_code>.picinp{
	width: 82px;
	height: 24px;
	font-size: 7px;
	color: #000;
	border: solid 1px #d9d9d9;
	padding-left: 5px;
}
.pic_code>button{
	width: 77px;
	height: 24px;
	background: #e6e6e6;
	font-size: 11px;
	color: #6b6b6b;
	border: solid 1px #c2c2c2;
	border-radius: 3px;
	margin-left: 10px;
}
.pic_code>.num_random{
	width: 100px;
	height: 20px;
	font-size: 9px;
	color: #4c660f;
	margin-left: 10px;
	border: 0;
	background: #fafafa;
	outline: none;
	display: none;
}
.tips2{
	height: 12px;
	font-size: 12px;
	color: #6b6b69;
	margin-left: 108px;
	margin-top: 30px;
}
.msg_code{
	margin-left: 60px;
	font-size: 12px;
	color: #5e5e5e;
	margin-top: 32px;
}
.msg_code>.msginp{
	width: 177px;
	height: 25px;
	padding-left: 5px;
	border: solid 1px #d9d9d9;
}
.pwd{
	margin-left: 72px;
	font-size: 12px;
	color: #665d4e;
	margin-top: 32px;
}
.pwd>.pwdinp{
	width: 177px;
	height: 25px;
	padding-left: 5px;
	border: solid 1px #d9d9d9;
}
.pwd>.pwd_tip{
	width: 174px;
	height: 12px;
	border: solid 1px #b7b7b7;
	display: inline-block;
	border-radius: 8px;
}
.pwd_tip>span{
	height: 8px;
	background: #cdcdcd;
	display: inline-block;
	position: relative;
	bottom: 3px;
}
.pwd_tip>span:nth-child(1){
	width: 53px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	left:3px
}
.pwd_tip>span:nth-child(2){
	width: 56px;
	left:3px
}
.pwd_tip>span:nth-child(3){
	width: 53px;
	left:3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.pwd>.strength{
	margin-left: 226px;
	width: 174px;
}
.pwd>.strength>span{
	width: 55px;
	display: inline-block;
	text-align: center;
}
.confirm_pwd{
	margin-left: 48px;
	margin-top: 10px;
	font-size: 12px;
	color: #665d4e;
}
.confirm_pwd>.pwd_inp{
	width: 177px;
	height: 25px;
	padding-left: 5px;
	border: solid 1px #d9d9d9;
}
.agreen{
	margin-left: 108px;
	margin-top: 27px;
}
.agreen>a{
	font-size: 10px;
	color: #6b6b6b;
}
.agreen>a>span:hover{
	color: #7f5b42;
	border-bottom: solid 1px #7f5b42;
}
.sub{
	margin-left: 108px;
	margin-top: 30px;
}
.sub>input{
	width: 198px;
	height: 40px;
	border: solid 1px #dfdfdd;
	font-size: 15px;
	color: #6b6b6b;
	background: none;
}
.sub>span{
	font-size: 12px;
	color: #75695b;
}
.sub>span>a{
	color: #ee514c;
}
/*底部*/
.footer{
	min-height: 128px;
}
.about{
	height: 11px;
	padding-left: 400px;
	padding-top: 12px;
}
.about>ul>li{
	float: left;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	border-right: solid 1px #797a8e;
}
.about>ul>li:last-child{
	border-right: 0;
}
.about>ul>li>a{
	color: #6b6b6b;
}
.copy{
	height: 11px;
	padding-top: 15px;
}
.copy>p{
	text-align: center;
	line-height: 11px;
	font-size: 12px;
	color: #6b6b6b;
}
.plice{
	height: 16px;
	margin-top: 9px;
	padding-left: 502px;
}
.plice>span{
	font-size: 12px;
	color: #99928a;
}